button.a1{
	background-color: #36DC00;
}

button.a2{
	background-color: #2DD900;
}

button.a3{
	background-color: #24D700;
}

button.a4{
	background-color: #1CD501;
}

button.a5{
	background-color: #14D201;
}

button.a6{
	background-color: #0CD002;
}

button.a7{
	background-color: #05CE02;
}

button.a8{
	background-color: #03CB08;
}

button.a9{
	background-color: #03C910;
}

button.a10{
	background-color: #03C718;
}

button.a11{
	background-color: #04C51F;
}

button.a12{
	background-color: #04C226;
}

button.a13{
	background-color: #04C02E;
}

button.a14{
	background-color: #05BE35;
}

button.a15{
	background-color: #05BB3B;
}

button.a16{
	background-color: #05B942;
}

button.a17{
	background-color: #06B748;
}

button.a18{
	background-color: #06B44E;
}

button.a19{
	background-color: #06B254;
}

button.a20{
	background-color: #07B05A;
}

button.a21{
	background-color: #07AE5F;
}

button.a22{
	background-color: #07AB64;
}

button.a23{
	background-color: #07A969;
}

button.a24{
	background-color: #08A76E;
}

button.a25{
	background-color: #08A473;
}

button.a26{
	background-color: #08A277;
}

button.a27{
	background-color: #08A07C;
}

button.a28{
	background-color: #099E80;
}

button.a29{
	background-color: #099B84;
}

button.a30{
	background-color: #099987;
}

button.a31{
	background-color: #09978B;
}

button.a32{
	background-color: #09948E;
}

button.a33{
	background-color: #099291;
}

button.a34{
	background-color: #0A8B90;
}

button.a35{
	background-color: #0A848D;
}

button.a36{
	background-color: #0A7D8B;
}

button.a37{
	background-color: #0A7689;
}

button.a38{
	background-color: #0A6F87;
}

button.a39{
	background-color: #0A6984;
}

button.a40{
	background-color: #0A6282;
}

button.a41{
	background-color: #0A5C80;
}

button.a42{
	background-color: #0A567D;
}

button.a43{
	background-color: #0B507B;
}

button.a44{
	background-color: #0B4A79;
}

button.a45{
	background-color: #0B4576;
}

button.a46{
	background-color: #0B4074;
}

button.a47{
	background-color: #0B3A72;
}

button.a48{
	background-color: #0B3570;
}

button.a49{
	background-color: #0B316D;
}

button.a50{
	background-color: #0B2C6B;
}


